#{stylesheet 'basic.css' /}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="page-title pull-left">&{'changelog.adminIndex'}</h2>
        <a class="submit pull-right" data-toggle="collapse" href="#newChangeLogCollapse" aria-expanded="false" aria-controls="newChangeLogCollapse">
            &{'changelog.adminIndex.add'}
        </a>
        #{form @Changelog.reset()}
            <button type="submit" class="submit pull-right m-r-5"><i class="material-icons">refresh</i></button>
        #{/form}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="newChangeLogCollapse" class="collapse">
            <div class="well">
                #{form @Changelog.upsert(), class:'form-horizontal'}
                <div class="form-group">
                    <label class="col-sm-2 control-label">&{'changelog.adminIndex.version'}</label>
                    <div class="col-sm-10">
                        <div class="input-icon">
                            <i class="fa fa-tag"></i>
                            <input class="form-control" type="text" value="${flash.version}" placeholder="Version" name="version">
                        </div>
                    </div>
                </div>

                #{list items:controllers.WebController.getSupportedLanguages(), as:'supportedLang'}
                %{ flashTitle = "title_" + supportedLang}%
                %{ flashContent= "content_" + supportedLang}%
                <div class="form-group">
                    <label class="col-sm-2 control-label">&{'changelog.adminIndex.title', supportedLang}</label>
                    <div class="col-sm-10">
                        <div class="input-icon">
                            <i class="fa fa-tag"></i>
                            <input class="form-control" type="text" value="${flash.flashTitle}" placeholder="Title ${supportedLang}" name="title_${supportedLang}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&{'changelog.adminIndex.content', supportedLang}</label>
                    <div class="col-sm-10">
                        <div class="input-icon">
                            <i class="fa fa-tag"></i>
                            <textarea class="form-control" placeholder="Content ${supportedLang}" name="content_${supportedLang}">${flash.flashContent}</textarea>
                        </div>
                    </div>
                </div>
                #{/list}
                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="submit" class="submit pull-right">
                            &{'changelog.adminIndex.add'}
                        </button>
                    </div>
                </div>
                #{/form}
            </div>
        </div>
    </div>
</div>

<div class="row">
    #{list items:changelog, as:'changelogPoint'}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title m-b-0 m-t-0">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#${changelogPoint.id}" aria-expanded="false" aria-controls="${changelogPoint.id}">
                            (${changelogPoint.version}) - ${changelogPoint.getTitle(lang)}
                        </a>
                    </h2>
                </div>
                <div id="${changelogPoint.id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        #{form @Changelog.upsert(), class:'form-horizontal'}
                        <input type="hidden" name="id" value="${changelogPoint.id}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">&{'changelog.adminIndex.version'}</label>
                            <div class="col-sm-10">
                                <div class="input-icon">
                                    <i class="fa fa-tag"></i>
                                    <input class="form-control" type="text" placeholder="Version" name="version" value="${changelogPoint.version}">
                                </div>
                            </div>
                        </div>

                        #{list items:controllers.WebController.getSupportedLanguages(), as:'supportedLang'}
                        %{ flashTitle = "title_" + supportedLang}%
                        %{ flashContent= "content_" + supportedLang}%
                        <div class="form-group">
                            <label class="col-sm-2 control-label">&{'changelog.adminIndex.title', supportedLang}</label>
                            <div class="col-sm-10">
                                <div class="input-icon">
                                    <i class="fa fa-tag"></i>
                                    <input class="form-control" type="text" placeholder="Title ${supportedLang}" name="title_${supportedLang}" value="${changelogPoint.getTitle(supportedLang)}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">&{'changelog.adminIndex.content', supportedLang}</label>
                            <div class="col-sm-10">
                                <div class="input-icon">
                                    <i class="fa fa-tag"></i>
                                    <textarea class="form-control" placeholder="Content ${lang}" name="content_${supportedLang}">${changelogPoint.getContent(supportedLang)}</textarea>
                                </div>
                            </div>
                        </div>
                        #{/list}
                        <div class="form-group">
                            <div class="col-xs-12">
                                <a class="btn-bezel danger pull-right m-b-0" data-toggle="modal" href="#${changelogPoint.id}RemoveModal" title="&{'Users.index.table.actions.deleteUser'}"><i class="fa fa-remove"></i></a>
                                <button type="submit" class="btn-bezel primary pull-right m-b-0 m-r-5"> <i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                        #{/form}
                    </div>
                </div>
            </div>
            <!-- BEGIN REMOVE MODAL -->
            <div class="modal fade" id="${changelogPoint.id}RemoveModal" tabindex="-1" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">&{'changelog.remove.title'}</h3>
                        </div>
                        <div class="modal-body text-center">
                            #{form @Changelog.remove()}
                                <h5 class="overflow-hidden">&{'changelog.remove'}</h5>
                                <input type="hidden" name="id" value="${changelogPoint.id}">
                                <button type="submit" class="submit">&{'changelog.remove.confirm'}</button>
                            #{/form}
                        </div>
                    </div>
                </div>
            </div>
            <!-- END REMOVE  MODAL -->
        </div>
    #{/list}
</div>