#{stylesheet 'basic.css' /}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="page-title pull-left">&{'changelog.userIndex'}</h2>
        #{form @Changelog.changelogRead(), class:'pull-right m-t-10'}
            <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" id="ignore" onchange="this.form.submit()" name="ignore" #{if ignoreChangelog}checked #{/if}>
                <label class="onoffswitch-label" for="ignore">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        #{/form}
    </div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        %{ version = "" }%
        #{list items:changelog, as:'point'}
        #{if version.isEmpty() || !point.version.equals(version)}
            %{ version = point.version }%
            <h3 class="page-title">&{'changelog.version', version}</h3>
        #{/if}
        <ul>
            <li>
                <p><strong>${point.message.get('title').get(lang)}:</strong> ${point.message.get('content').get(lang)}</p>
            </li>
        </ul>
        #{/list}

    </div>
</div>
